extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb=projects
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project 
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 #{proj.project_name}

        p.lead.text-light
          | #{proj.description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        ul 
        each tech in proj.technologies
          li #{tech}
        |<br>
  
        if proj.demo
          a.button.expanded(href=proj.demo) Live Demo
        else
          a.button.expanded(href='') DEMO UNAVAILABLE
        if proj.github
          a.button.expanded(href=proj.github) GitHub Repo
        else
          a.button.expanded(href='') GitHub Repo UNAVAILABLE
    

    each image in proj.image_urls
      if(image.substr(image.length-3) == 'jpg')
        img.image(src=image)
      else
        video.image(autoplay controls loop)
          source(src=image, type='video/mp4')
